body{
background:#050816;
color:white;
font-family:Arial;
text-align:center;
padding:20px;
}

.box{
background:#11182d;
padding:30px;
border-radius:20px;
width:300px;
margin:auto;
margin-top:50px;
}

input{
width:90%;
padding:12px;
margin:10px;
border:none;
border-radius:10px;
}

button{
padding:12px;
width:95%;
background:gold;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

a{
color:gold;
text-decoration:none;
}
